# Email Configuration (for Gmail)
EMAIL_USERNAME=cryptobriefofficial@gmail.com
EMAIL_PASSWORD=euxx sitg eipj xypa
EMAIL_FROM=ycryptobriefofficial@gmail.com
EMAIL_TO=anonimux37@gmail.com

# SEC Configuration
SEC_USER_AGENT="Alpha Engine (cryptobriefofficial@gmail.com)"
